* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a0a0a0;
    color: white;
}

.card {
    height: 12em;
    background-color: darkslategrey;
}

#mathFormules {
    margin-top: 3em;
}

.form-control {
    width: 3em;
}

.pitagoras {
    width: 8em;
}

::placeholder {
    text-align: center; 
}

#div-response {
    margin-top: 3em;
}